PORT=5014
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/lms

JWT_SECRET=your_secret_key
JWT_EXPIRY=7d

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_PLAN_ID=plan_your_plan_id

FRONTEND_URL=http://localhost:5173
